.mainContainer {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensures it covers the viewport height */
  }
.menuBar {
    background-color: #ffffff;
    padding: 15px 40px;
    display: flex; /* Make it a flex container */
    justify-content: space-between; /* Space out the links */
    justify-content: center;
  }
  /* Container for the links */
.navLinks {
    display: flex;
    gap: 30px; /* Add spacing between links */
  }
  /* Style for each link */
.navLinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    }
.welcomeTitle {
    font-size: 35px;
    color: #000000;
    text-align: center;
    
    }
.welcomeDesc{
    font-size: 20px;
    text-align: center;
    }
.welcomeTitleContainer {
    width: 100%;
    height: 100%;
    }
.loginWrapper {
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    }
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
      
.loginWrapper::after,.loginWrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle),#199959,rgb(56, 56, 80),rgb(204, 214, 61),rgb(171, 207, 124),#199959);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    z-index: -1; 
    border-radius: 10px;
    animation: 3s spin linear infinite;
    }
@keyframes spin {
    from{
        --angle:0deg
    }
    to{
        --angle:360deg
    }
    
}
.loginWrapper::before{
    filter: blur(1.5rem);
    opacity: 0.5; 
}
.loginContainer {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
      }
.loginBox label {
    color: #000000;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    display: block; /* Ensures it appears above the input */
    margin-bottom: 5px;
}
.loginBox input {
    width: 95%;
    padding: 3%;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    }
.forgotPassword a {
    display: flex;
    font-size: 0.9rem;
    text-decoration: none;
    color: #007bff;
    }

.signInButton {
    
    cursor: pointer;
    margin-top: 10%;

    }
  
.registerButton {
    
    cursor: pointer;
    margin-top: 10%;
}
.featuredBetsContainer {
    background-color: #E3F369;


}
  
  