.mainContainer {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensures it covers the viewport height */
  }
.menuBar {
    background-color: #ffffff;
    padding: 15px 40px;
    display: flex; /* Make it a flex container */
    justify-content: space-between; /* Space out the links */
    justify-content: center;
  }
  /* Container for the links */
.navLinks {
    display: flex;
    gap: 30px; /* Add spacing between links */
  }
  /* Style for each link */
.navLinks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

.welcomeTitle {
    font-size: 24px;
    color: #000000;
    text-align: center;
    
    }
.welcomeDesc{
    text-align: center;
    }
.welcomeTitleContainer {
    width: 100%;
    height: 100%;
    }
.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(134, 134, 134);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 350px;
    text-align: center;
    }
  
.loginBox input {
    width: 80%;
    padding: 5%;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    }
.loginBox label {
    color: #ffffff; 
    font-size: 14px;
    font-weight: bold;
    display: block; /* Ensures it appears above the input */
    margin-bottom: 5px;
  }
  
.forgotPassword a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #007bff;
    }
.signInButton {
    background: rgb(255, 255, 255);
    color: white;
    cursor: pointer;
        }
  
.registerButton {
    background: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
  
  